<% layout("layouts/boilerplate") %>

      <body>
            <h3>All Listings</h3>

            <ul>
                  <% allListings.forEach(function(listing) { %>
                        <% for (let i=0; i < 3; i++) { %> <!-- duplicate 3 times -->
                              <li>
                                    <a href="/listings/<%= listing._id %>">
                                          <%= listing.title %> (copy <%= i + 1 %>)
                                    </a>
                              </li>
                              <% } %>
                                    <% }); %>
            </ul>
      </body>