<% layout("layouts/boilerplate") %>

<body>
      <h3>Create a New Listing            </h3>
      <form method="POST" action="/listings">
            <input name="listing[title]" placeholder="Enter the Title">
            <br><br/>
            <textarea name="listing[description]" placeholder="Enter the Description"></textarea>
            <br><br />
            <input name="listing[image]" placeholder="Enter Image URL/Link" type="text">
            <br><br />
            <input name="listing[price]" placeholder="Enter the Price">
            <br><br />
            <input name="listing[location]" placeholder="Enter the Location">
            <br><br />
            <input name="listing[country]" placeholder="Enter the Country">
            <br><br />
            <button type="submit">Create Listing</button>


      </form>
</body>

